* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #772020e6;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f6f6dc;
}

header {
    text-align: center;
    margin-top: 50px;
    h1 {
        font-size: 40px;
        padding-bottom: 15px;
    }
    h3 {
        font-size: 25px;
        padding-bottom: 50px;;
    }
}
.container {
    display: flex;
    justify-content: space-evenly;
    &__translation {
        display: flex;
        flex-direction: column;
        padding: 10px; 
    }
    textarea {
        width: 450px;
        height: 250px;
        border-radius: 8px;
        box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.172);
    }
    label {
        padding-bottom: 15px; 
        font-weight: bold;
        font-size: 20px;
    }
    p {
        padding-top: 15px;
        width: 450px;
        font-size: 20px;
        color: #cd0606;
    }
    .text-area {
        padding: 10px;
        font-size: 20px;
    }
}